footer {
    border-radius: 10px;
    background: #005380;
    color: #fff;
    font-size: 14px;
    line-height: 1.43;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    padding: 31px 20px 13px 35px;
    margin: 0 0 20px;
    position: relative;
    color: #fff;
    display: flex !important;
    margin-top: 30px;
}

footer > div {
    width: 25%;
}

footer ul {
    margin-left: 0;
    list-style: none;
}

footer ul li {
    position: relative;
    padding: 0 0 1px 21px;
}

footer ul li:before {
    position: absolute;
    top: 2px;
    left: 0;
    content: "";
    background-image: url('../images/Star-white.svg');
    background-size: cover;
    width: 13px;
    height: 13px;
}

footer h2 {
    font-size: 1.6em;
    margin-bottom: 15px;
}