body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    color: #005380
}
.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    background: #005380;
    border-radius: 5px;
    position: relative;
    z-index: 20;
    padding: 5px 0;
}

.navigation-wrapper ul {
    color: #fff;
    display: flex;
    list-style: none;
    margin: 0;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.navigation-wrapper ul li:not(:first-of-type) {
    margin: auto 0;
    padding: 5px 15px;
    border-left: 2px solid rgba(15, 164, 222, 0.2);
    text-align: center;
}

.navigation-wrapper ul li:first-of-type {
    margin: auto 15px auto 15px;
}

.navigation-wrapper div img {
    margin: auto 15px auto 0;
}