.checkmarks {
    list-style: none;
    margin: 0;
}

.checkmarks li {
    position: relative;
    padding: 0 0 3px 34px;
}

.checkmarks li:before {
    position: absolute;
    top: -3px;
    left: 0;
    content: "";
    width: 27px;
    height: 23px;
    background: url('../images/Checked.svg') no-repeat;
    background-size: 100% auto;
}

.cta_wrapper {
    border: 2px solid #ededed;
    padding: 26px 15px 16px;
    border-radius: 10px;
    margin: 0 10px 0 0;
    position: relative;
    display: flex;
    position: sticky;
    flex-direction: column;
    top: 30px;
}

span.price {
    font-size: 34px;
    font-weight: 700;
    text-decoration: none;
}

span.labels {
    display: block;
    font-size: 14px;
    line-height: 1.43;
    font-style: italic;
    color: #005380;
}

.design-label-btn {
    padding: 7px 16px 7px 44px;
    line-height: 40px;
    background-image: url('../images/Star-white.svg');
    background-size: 29px;
    background-position: 12px 11px;
    background-repeat: no-repeat;
    background-color: #ea8d00;
    border: 2px solid #ea8d00;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    min-width: 175px;
    text-align: center;
    box-shadow: 0 3px 0 0 #ba7200, 0 3px 0 0 rgba(0,0,0,.2);
    border-radius: 10px;
    outline: none !important;
    margin: 5px auto;
}

.design-label-btn:hover {
    background-color: #e69b2b;
    border: 2px solid #e69b2b;
    color: #fff;
    box-shadow: 0 3px 0 0 #ba7200, 0 3px 0 0 rgba(0,0,0,.2);
}

.product_info h2 {
    margin-bottom: 10px;
}

.product_info {
    font-size: 16px;
}

.item.content {
    border: 1px solid #ededed;
    border-width: 0 0 2px;
    padding: 15px 0 12px;
}