.grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.grid ul {
    margin: 0;
}

.grid li {
    margin: 0;
    display: block;
    border-top: none;
    border-bottom: 1px solid #ededed !important;
    position: relative;
    padding: 5px 0;
    font-weight: bold;
    font-size: 16px;
}

.grid li:before {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 11px;
    content: "";
    margin-top: -8px;
    background: url('../images/Arrow-down-circle.svg') no-repeat;
    background-size: cover;
    transform: rotate(-90deg);
}

.cat_prod {
    padding: 0 0 0 30px;
}

.cat_img_wrapper {
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

.cat_info {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.cat_info {
    color: #fff;
}

.cat_info h1 {
    margin-bottom: 4px;
}

.cat_info p {
    width: 330px;
    font-size: 16px;
    margin-bottom: 0;
}

.cat_products {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.product_name:before {
    position: absolute;
    top: 50%;
    right: 14px;
    content: "";
    margin-top: -11px;
    background: url('../images/Arrow-down-circle.svg') no-repeat;
    background-size: cover;
    width: 22px;
    height: 22px;
    transform: rotate(-90deg);
}