.quicklinks {
    display: flex;
}

.quicklinks > div {
    width: 33.3333%;
    position: relative;
}

.quicklinks > div:first-of-type h2 {
    color: #f09ec0;
}

.quicklinks div.blue h2 {
    color: #009de0;
}

.quicklinks div.blue ul {
    border-color: rgba(0,157,224,.7);
}

.quicklinks div.blue {
    margin: 0 30px;
}

.quicklinks div.green h2 {
    color: #80be47;
}

.quicklinks div.green ul {
    border-color: rgba(128,190,71,.7);
}

.quicklinks > div:first-of-type ul {
    border-color: rgba(240,158,192,.7);
}

.quicklinks h2 {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    margin: 0;
    text-align: center;
    z-index: 2;
    font-size: 40px;
}

.quicklinks .image {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.quicklinks img {
    transform: scale(1);
    transition: .5s ease-in-out;
    display: block;
    width: 100%;
    height: auto;
}

.quicklinks ul {
    list-style: none;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    margin: -73px 27px 30px;
    padding: 15px 31px 10px;
    background: #fff;
    border: 2px solid rgba(0,83,128,.7);
    font-size: 18px;
    font-weight: 600;
}

.quicklinks ul li {
    position: relative;
    padding: 0 0 0 30px;
    margin: 0 0 5px;
}

.quicklinks ul li:before {
    position: absolute;
    top: 2px;
    left: 0;
    content: "";
    background: url('../images/Arrow-down-circle.svg') no-repeat;
    width: 19px;
    height: 19px;
    background-size: cover;
    transform: rotate(-90deg);
}