.sellingpoints-block ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 16px;
    line-height: 1.25;
}

.sellingpoints-block ul li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    max-width: 100px;
    margin: 0 auto;
    color: #214d71;
}

.sellingpoints-block ul li img {
    display: block;
    margin: 0 auto;
}